gripper-ex-flow.json
[{"id":"f7675a9d.1ba838","type":"sense command","z":"e0d75d97.dbe0a","name":"Gripper","senseid":"R1","commandtype":"humix-gripper-module","commandname":"gripper_cmd","x":469.30001068115234,"y":92.19999694824219,"wires":[]},{"id":"cec3a496.258048","type":"inject","z":"e0d75d97.dbe0a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":184.30001068115234,"y":89.19999694824219,"wires":[["f7675a9d.1ba838"]]},{"id":"366ec63b.3d113a","type":"inject","z":"e0d75d97.dbe0a","name":"","topic":"","payload":"close","payloadType":"str","repeat":"","crontab":"","once":false,"x":195.59999084472656,"y":148.59999084472656,"wires":[["f7675a9d.1ba838"]]}]